*{
   border: 0;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}
  
  /*Formulario*/ 
.form-login
   {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 300px;
      width: 200px;
      background-color: #ffffff29;
      box-shadow: 7px 13px 37px rgb(0, 174, 255);
      padding: 80px 60px;
      border-top: 4px solid rgb(0, 174, 255);
      border-left: 1.5px solid rgb(0, 174, 255);
      border-right: 1.5px solid rgb(0, 174, 255);
      border-bottom: 2px solid rgb(0, 174, 255);
      color: #04cdff;
   }
.form-login h5 
   {
      margin-bottom: 10px;
       height: 35px;
       border-bottom: 1px solid;
       font-size: 22px;
   }
.controles
   {
       width: 80%;
       border: 1px solid rgb(0, 174, 255);
       color:rgb(0, 55, 80);
       padding: 10px 20px;
       margin-top: 20px;
       background: #04cdff;
       font-size: 14px;
       font-weight: bold;
   }
.botones 
   {
      margin-top: 30px;
      margin-bottom: 40px;
       width: 60%;
       height: 40px;
       background: rgb(0, 174, 255);
       border: 1px solid #04cdff;
       color: white;       
      transition: 0.5s;
   }
.botones:hover 
   {
      cursor:pointer;
      background-color: rgb(0, 80, 117);
   }
input{
   border-radius: 20px;
}
   /*Fin formulario*/

main{
   width: 100vw;
   display: flex;
   align-content: center;
   justify-content: center;
   align-items: center;
}
body{
   background: rgb(2,34,56);
   background: radial-gradient(circle, rgba(2,34,56,1) 12%, rgba(0,174,255,1) 100%);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}
#div-a{
   border-radius: 10px;
   transition: 2s;
   background-color: #01181e5e;
   padding: 4px;
   cursor: pointer;
}
a{   
   text-decoration: none;
   color: #04cdff;
}
#div-a:hover, #div-a:focus{
   filter: hue-rotate(270deg);
   box-shadow: 0px 2px 4px 0px #04cdff;
}